body{
    max-width: 100vw;
    margin: 0;
}

.main{
    width: 100vw;
    height: 125vh;
    background-color: #570530;
}

.main h2{
    color: #E8AFCE;
    position: absolute;
    top: 20vh;
    left: 10vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    width: 70vw;
}
.main h1{
    color: #fff;
    position: absolute;
    top: 37vh;
    left: 10vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 96px;    
    width: 60vw;
}

.nav{
    background-color: #570530;
    width: 90vw;
    padding-left: 10vw;
    padding-right: 0;
    padding-top: 5vh;

}

.navitems li a{
    color: #fff;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-right: 2vw;
}

.navitems{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin:0;
}

.main img{
    /* height: 500px;
    width: 500px; */
    position: absolute;
    right: 2vw;
    top: 65vh;

}
.tips{
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

.tips h1{
    color: #4C0027;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 54px;  
}

.tips div{
    display: flex;
    border: 1px solid #E8AFCE;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 7vw;
    justify-content: space-between;
    padding: 0 8vw;
    margin-bottom: 10vh;
    /* width: 80vw; */
}

.tips img{
    width: 20vw;
}

.tips h2{
    margin: auto 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 54px;    
}

.symptoms{
    background-color: #E8AFCE;
    width: 100vw;
    padding-bottom: 10vh;
}

.symptoms h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 54px;   
    color: #4C0027; 
    padding: 5vh;    
    padding-bottom: 2vh;
}

.symptoms table,th,td{
    border: 8px solid #750550;
}
.symptoms table{
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
}


.symptoms th,td{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    overflow-wrap: break-word;
    width: 20vw;
    height: 10vh;
    text-align: center;
    padding: 2vh 1vw;
}

.faqs h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 54px;   
    color: #4C0027; 
    margin: 15vh 0;
    margin-bottom: 10vh;
}

.faqs{
    padding-bottom: 5vh;
}
.outbox{
    width: 90vw;
    margin: auto;
    margin-top: 0;
    border: 1px solid #E8AFCE;
    box-sizing: border-box;
    border-radius: 5px;

}

.inbox{
    border: 1px solid #E8AFCE;
    box-sizing: border-box;
    border-radius: 5px;
    width: 80vw;
    margin: 5vh auto;
}

.inbox h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.inbox p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: auto 2vw;
    margin-bottom: 5vh;
}

.youtube h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 54px;   
    color: #4C0027; 
    margin-bottom: 10vh;
    text-align: center;
}

.youtube{
    padding-bottom: 10vh;
}

.footer{
    background-color: #4C0027;
    padding: 5vh 0;
    margin: auto 0;
}

.footer h1{
    align-items: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 36px;
}

.youtube iframe{
    width: 50vw;
    height: 59vh;
}

@media only screen and (max-width: 1280px){
    .youtube iframe{
        width: 60vw;
    }
}

@media only screen and (max-width: 1240px){

    .main h1{
        top: 50vh;
    }

    .main img{
        visibility: hidden;
    }
}

@media only screen and (max-width: 900px){
    .main{
        height: 140vh;
    }

    .main h1{
        top: 60vh;
    }

}

@media only screen and (max-width: 600px){
    .main{
        height: 180vh;
    }

    .main h1{
        top: 70vh;
    }

}


@media only screen and (max-width: 960px){
    .youtube iframe{
        width: 80vw;
    }
}

@media only screen and (max-width: 720px){
    .tips div{
        width: 80vw;
        display: block;
        align-items: center;
    }

    .tips img{
        width: 50vw;
        margin: 0 10vw;
        margin-bottom: 5vh;
    }
    .tips h2{
        text-align: center;
        margin: 5vh
    }

    .tips div{
        padding: 0;
    }
    .tips div{
        margin: auto;
    }
}

/* @media only screen and (max-width: 560px){
    .nav{
        position: fixed;
        display: none;
        visibility: hidden;

    }

    .symptons th,td{
        font-size: 14px;
    }
} */

@media only screen and (max-width: 560px){
    .main h1{
        font-size: 64px;
        top: 50vh;
    }

    .main h2{
        font-size: 32px;
        word-wrap: break-word;
    }


    .nav{
        position: fixed;
        display: none;
        visibility: hidden;

    }

    .symptoms th,td{
        font-size: 14px;
    }

    .main{
        height: 110vh;
    }
}

@media only screen and (max-width:410px){
    .main h1{
        top: 60vh;

    }

    .main{
        height: 130vh;
    }
}

@media only screen and (max-width: 360px){
    .symptoms h1{
        font-size: 36px;
    }

    .faqs h1{
        font-size: 36px;
    }

    .tips h1{
        font-size: 36px;
    }


    .footer h1{
        font-size: 24px;
    }

    .main{
        height: 140vh;
    }


}
